<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kindercoaching Betuwe | Jennifer Hoogland-Alwart</title>

    <!-- Bootstrap core CSS -->
    <link href="vendors/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="resources/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                <img src="resources/images/logo.png" alt="Jennifer Hoogland-Alwart Kindercoaching en Trainingen" class="logo">
              </a>
            </div>
            <!--/.navbar-header-->

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <!-- Collapseble nav items -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="mx-1 py-2 px-2 active"><a href="index.html">Home</a></li>
                    <!-- Dropdown -->
                    <li class="dropdown mx-1 px-lg-0 px-2 nav-item">
                        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kindercoaching</a>
                        <ul class="dropdown-menu">
                          <li><a href="kindercoaching-training.html" class="dropdown-item">Mijn werkwijze</a></li>
                          <li><a href="matrixmethode.html" class="dropdown-item">De MatriXmethode</a></li>
                          <li><a href="referenties.html" class="dropdown-item">Referenties</a></li>
                        </ul>
                    </li>
                    <li class="mx-1 py-2 px-2"><a href="jennifer.html">Jennifer</a></li>
                    <li class="mx-1 py-2 px-2"><a href="agenda.html">Workshops</a></li>
                    <li class="mx-1 py-2 px-2"><a href="blog.html">Blog</a></li>
                    <li class="mx-1 py-2 px-2"><a href="tarieven.html">Tarieven</a></li>
                    <li class="mx-1 py-2 px-2"><a href="contact.html">Contact</a></li>
                    <li class="mx-1"><a class="btn navbar-btn" href="contact.html">Maak een afspraak</a></li>
                </ul>
            </div>
            <!-- /.collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="container-fluid banner banner-home" style="background-image: url('resources/images/stock/846412036.jpg'); background-position: left center;">
    </header>


    <!-- Main content -->
    <main class="pt-5">
        <div class="text-center">
            <h1>Kindercoaching in omgeving Betuwe</h1></div>

        <!-- USP-wrapper -->
        <section class="section-usp container">
          <p>Kinderen met problemen worden vitaler na coaching of training. Ik help kinderen hun problemen aan te pakken met vitaliteit als resultaat!</p>
            <section class="row">
                <div class="col-md-4 p-4">
                    <a href="#">
                        <img src="vendors/fonts/open-iconic/briefcase.svg" alt="Bewezen aanpak" class="mb-4">
                    </a>
                    <a href="#"><h2>Bewezen aanpak problemen</h2></a>
                    <p>De MatriXmethode is een succesvolle methode om kinderen van hun problemen af te helpen.</p>
                </div>
                <div class="col-md-4 p-4">
                    <a href="#">
                        <img src="vendors/fonts/open-iconic/star.svg" alt="Bewezen aanpak" class="mb-4">
                    </a>
                      <a href="#"><h2>Werken vanuit innerlijke kracht</h2></a>
                    <p>Ik help uw kind met het vergroten van zijn zelfvertrouwen. Ik ben gespecialiseerd in het aanpakken van leerproblemen, angsten, wanorde (hoofd opruimen), blokkades of belemmeringen.</p>
                </div>
                <div class="col-md-4 p-4">
                    <a href="#">
                        <img src="vendors/fonts/open-iconic/clock.svg" alt="Bewezen aanpak" class="mb-4">
                    </a>
                    <a href="#"><h2>Maximaal 2-3 sessies</h2></a>
                    <p>In niet meer dan 3 sessies help ik je kind naar een vitalere toekomst!</p>
                </div>
            </section>
        </section>

        <!-- About -->
        <section class="section-about container-fluid bg-teal-light">
            <div class="container">
                <section class="row py-5">
                    <div class="col-md-6 my-3">
                        <img src="resources/images/foto-jen-s.jpg" alt="Jennifer Hoogland" class="img-fluid rounded-circle">
                        <p class="lead mt-4">Heb je een vraag of wil je even kennismaken? Neem contact met mij op!</p>
                        <div class="row lead">
                            <div class="col-12"><i class="fas fa-phone mr-2"></i>06 – 15 22 80 22</div>
                            <div class="col-12"><i class="fas fa-envelope mr-2"></i> <a href="mailto:info@jenniferhoogland.nl ">info@jenniferhoogland.nl </a></div>
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <h2>Over Jennifer Hoogland-Alwart</h2>
                        <p>Als coach en trainer help ik volwassenen en kinderen van 8 tot 12 jaar met fysieke, emotionele en mentale problemen om deze te doorstaan en daarna weer in hun kracht te komen.</p>
                        <a href="jennifer.html" class="btn btn-red mb-5">Lees meer over mij</a>

                        <h3>Hoe kan ik helpen als coach?</h3>
                        <p>De kinderen die ik begeleid gaan:</p>
                        <ul>
                            <li>tekenen</li>
                            <li>ruimte maken in hun hoofd</li>
                            <li>een eigen structuur leren ontdekken</li>
                            <li>leren vertrouwen op wat ze voelen, en</li>
                            <li>zich durven uitspreken.</li>
                        </ul>
                        <a href="kindercoaching-training.html" class="btn btn-red">Lees meer over mijn coaching methode</a>
                    </div>
                </section>
            </div>
        </section>

        <!-- Testimonial -->
        <section class="section-testimonial container-fluid bg-light">
            <div class="container py-4">
                <h2>Wat kinderen zeggen na coaching</h2>
                <blockquote class="blockquote">
                    <p>Leuk. Blij dat er niet zoveel meer in mijn hoofd zit. Precies goed.</p>
                    <footer class="blockquote-footer">Meisje 9 jaar met ADHD</footer>
                </blockquote>
                <a href="referenties.html" class="btn btn-red">Meer referenties</a>
            </div>
        </section>


        <!-- Meer content -->
        <section class="section-long-copy container">
            <section class="row py-5">
                <div class="col-md-6">
                    <h3>Vitale kinderen kunnen stappen zetten - nu en in de toekomst</h3>
                    <p>Eén van de grootste uitdagingen voor ouders en verzorgers is zorgen dat hun kinderen vitaal zijn en blijven. Met alles waarmee kinderen in hun jonge jaren in contact komen is dat nog niet zo gemakkelijk. In het dagelijkse leven worden ze op allerlei manieren geconfronteerd met leuke maar ook minder leuke dingen.</p>
                    <p>Soms is het nog lastig voor uw kind om duidelijk aan te geven waar het mee zit. Want ze zijn hun kwaliteiten aan het ontwikkelen. En als ouder of verzorger heb je even niet “het middel” om ze effectief te helpen.</p>
                </div>
                <div class="col-md-6">
                    <h3>Wat als er niets wordt gedaan?</h3>
                    <p>Een kind dat te lang door loopt met problemen kan in de ontwikkeling van de verschillende levensfases geblokkeerd raken. Blokkades die ze op de lange termijn belemmeren als ze volwassen zijn. Er kunnen fysieke, emotionele en mentale problemen ontstaan.</p>
                    <p>Hoe? U merkt dat uw kind</p>
                    <ul>
                        <li>op school leerproblemen ervaart</li>
                        <li>slecht slaapt</li>
                        <li>wordt achtervolgd door nachtmerries</li>
                        <li>moeite heeft met concentreren</li>
                        <li>zich angstig of verdrietig voelt</li>
                        <li>zich terugtrekt</li>
                        <li>vage klachten ervaart die na een bezoek aan de huisarts niet kunnen worden opgelost</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Kinderen van 8-12 jaar</h3>
                    <table class="table">
                      <tr><td><strong>Problematiek</strong></td><td><strong>Resultaat</strong></td></tr>
                      <tr><td>Druk en vol hoofd opruimen</td><td>Kinderen ervaren meer rust omdat ze beter kunnen ontspannen</td></tr>
                      <tr><td>Angsten en emotionele problemen als gevolg van o.a. pesten en verdriet</td><td>Blijere kinderen omdat de angst of het verdriet niet meer zo aanwezig is</td></tr>
                      <tr><td>Geen structuur hebben waardoor ze moeite hebben met leren op school</td><td>Betere concentratie en daardoor betere prestaties op school</td></tr>
                      <tr><td>Slecht slapen omdat ze nachtmerries hebben</td><td>Beter slapen want de nachtmerries zijn er niet meer of zijn minder geworden</td></tr>
                    </table>

                    <p>Coaching: Kinderen werken zelf aan hun problemen door te tekenen en oefeningen te doen die ze in contact brengen met hun lichaam.</p>
                    <p>In gemiddeld 2 sessies van 1 uur ervaren ze wat er gebeurt in hun lichaam als ze werken aan de problemen.
                    Ik werk met de MatriXmethode plus lichaamsoefeningen die ze effectief helpen de problemen op te lossen.
                    Resultaat: Levenslustige kinderen</p>

                </div>
            </section>
        </section>


        <!-- Blog -->
        <section class="section-blog container-fluid bg-light">
            <div class="container py-4">
                <a href="blog.html"><h2>Blogs</h2></a>
                <section class="row">
                    <article class="col-md-6">
                        <a href="blog-executief.html"><img src="http://picsum.photos/600/300/?image=1068" alt="" class="img-fluid mb-3"></a>
                        <a href="blog-executief.html"><h3>Lorem ipsum dolor</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolore voluptates reprehenderit velit consequuntur quisquam quo reiciendis, suscipit quaerat ratione aut iusto laudantium dolorem vero mollitia tenetur in incidunt
                            commodi ea iure ipsum facere tempora accusamus ullam! <a href="blog-executief.html">Lees meer</a></p>
                    </article>
                    <article class="col-md-6">
                        <a href="blog-executief.html"><img src="http://picsum.photos/600/300/?image=1080" alt="" class="img-fluid mb-3"></a>
                        <a href="blog-executief.html"><h3>Lorem ipsum dolor sit amet</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolore voluptates reprehenderit velit consequuntur quisquam quo reiciendis, suscipit quaerat ratione aut iusto laudantium dolorem vero mollitia tenetur in incidunt
                            commodi ea iure ipsum facere tempora accusamus ullam! <a href="blog-executief.html">Lees meer</a></p>
                    </article>
                </section>
            </div>
        </section>
    </main>


    <!-- Footer -->
    <footer class="container-fluid bg-teal-dark">
        <div class="container">
            <section class="row pt-5">
                <div class="col-md-4">
                    <h4>Mijn Praktijk</h4>
                    <p>Van mijn passie heb ik mijn werk gemaakt. Ik help mensen als professioneel coach en bied hierbij warmte, vertrouwen, veiligheid en jarenlange ervaring in de omgang met mensen.</p>

                    <h4>Contact</h4>
                    <p>
                        <i class="fas fa-phone mr-2"></i>06 – 15 22 80 22<br>
                        <i class="fas fa-envelope mr-2"></i>
                        <a href="mailto:info@jenniferhoogland.nl ">info@jenniferhoogland.nl</a><br>
                        <i class="fab fa-linkedin mr-2"></i>
                        <a href="https://www.linkedin.com/pub/jennifer-hoogland-alwart/2b/9bb/550" target="_blank">Jennifer Hoogland-Alwart</a>
                    </p>
                    <h4>Coaching voor volwassen</h4>
                    <p>Ik bied ook coaching aan volwassenen. Behoefte aan begeleiding? Kijk dan op mijn andere website: <a href="http://www.jenniferhoogland.nl" target="_blank">www.jenniferhoogland.nl</a></p>
                </div>
                <div class="col-md-4">
                    <h4>Mijn specialisaties</h4>
                    <ul>
                        <li>Aanpak leerproblemen</li>
                        <li>Aanpak angsten</li>
                        <li>Wanorde (hoofd opruimen)</li>
                        <li>Blokkades of belemmeringen</li>
                        <li>Vergroten zelfvertrouwen</li>
                        <li>Werken vanuit innerlijke kracht</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Lid van en geregistreerd bij</h4>
                    <p>Ik sta als coach geregistreerd bij <a href="http://www.stir.nu/" target="_blank">St!R</a> en als MatriXcoach bij het <a href="https://www.matrixmethodeinstituut.nl/" target="_blank">MatriXmethode Instituut</a>.</p>
                    <a href="http://www.stir.nu/" target="_blank"><img src="resources/images/logo-stir.png" alt="St!r"></a>
                    <a href="https://www.matrixmethodeinstituut.nl/" target="_blank"><img src="resources/images/logo-matrix.png" alt="Matrix Coaching"></a>
                    <p>Tevens ben ik aangesloten bij <a href="http://www.coachingvoordocenten.com/onderwijscoach/" target="_blank">Landelijke Organisatie voor Coaching in het Onderwijs</a>.</p>
                    <a href="http://www.coachingvoordocenten.com/onderwijscoach/" target="_blank"><img src="resources/images/logo-loc.png" alt="LOC"></a>
                </div>
            </section>


            <section class="row text-small py-3">
                <div class="col-sm-8 text-left"><a href="disclaimer.html">Disclaimer | Algemene voorwaarden</a></div>
                <div class="col-sm-4 text-sm-right">Design by Naomi</div>
            </section>
        </div>
    </footer>




    <script>
    $(document).ready(function () {
        $('li.dropdown').mouseover(function() {
            var $el = $(this);
            if ($el.hasClass('show')) {
                var $a = $el.children('a.dropdown-toggle');
                if ($a.length && $a.attr('href')) {
                    location.href = $a.attr('href');
                }
            }
        });
    });
    </script>

    <!-- JS/jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- Font Awesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/solid.js" integrity="sha384-P4tSluxIpPk9wNy8WSD8wJDvA8YZIkC6AQ+BfAFLXcUZIPQGu4Ifv4Kqq+i2XzrM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/regular.js" integrity="sha384-BazKgf1FxrIbS1eyw7mhcLSSSD1IOsynTzzleWArWaBKoA8jItTB5QR+40+4tJT1" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/brands.js" integrity="sha384-qJKAzpOXfvmSjzbmsEtlYziSrpVjh5ROPNqb8UZ60myWy7rjTObnarseSKotmJIx" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/fontawesome.js" integrity="sha384-2IUdwouOFWauLdwTuAyHeMMRFfeyy4vqYNjodih+28v2ReC+8j+sLF9cK339k5hY" crossorigin="anonymous"></script>

</body>

</html>
