@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background-image: url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"%3E%3Cpath d="M0 40L40 0H20L0 20M40 40V20L20 40"/%3E%3C/g%3E%3C/svg%3E');
  font-family: 'Pacifico', cursive;
  color: #6CA4A3;
}

main {
  width: 60%;
  margin: 0 auto;
}

header {
  font-size: 2.5em;
  text-align: center;
}

header h1 {
  margin: 40px 0;
}

#imageContainer {
  background-color: white;
  border: 5px solid #6CA4A3;
  padding: 20px;
}

#imageContainer h3 {
  margin: 5px;
  text-align: center;
}

#imageContainer img {
  width: 90px;
  margin: 8px;
  border: 3px solid #6CA4A3; 
}

#imageContainer img:hover {
  border: 3px solid #5a5a5a;
}

#imageContainer img:hover, #imageResizedContainer img:hover {
  cursor: pointer;
}

#imageResizedContainer {
  position: fixed; /*should be relative */
  background-color:rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#imageResizedContainer>img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers element horizontally and vertically -> translate (x,y)*/
  max-width: 75%;
  max-height: auto;
}

#imageResizedContainer>div {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); /* centers element horizontally and vertically -> translate (x,y)*/
  bottom: 20px;
  float: left;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 3px 8px;
  font-family: "Trebuchet MS", sans-serif;
}

.hidden-overlay {
  display:none;
}
